<section>
  <div *ngIf="movieName === 'Avengers: Infinity War'">
    <video width="800" height="400" controls>
      <source src="../../../assets/videos/Marvel Studios' Avengers_ Infinity War Official Trailer.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div *ngIf="movieName === 'Spider-Man: Far From Home'">
    <video width="720" height="400" controls>
      <source src="../../../assets/videos/SPIDER-MAN_ FAR FROM HOME - Official Trailer.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div *ngIf="movieName === 'Thor: Ragnarok'">
    <video width="800" height="400" controls>
      <source src="../../../assets/videos/Thor_ Ragnarok - Trailer Oficial _ HD.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</section>
