<section>
  <header class="header">
    <div class="header-content">
      <h1>Lista de filmes</h1>
      <a>Início</a>
    </div>
  </header>

  <div class="moviesList">
    <div *ngFor="let movies of moviesList" class="img-container">
      <img [src]="movies.poster" [routerLink]="['/movieTrailer', movies?.nome]">
      <h2>{{movies?.nome}}</h2>
      <p>Diretor: {{movies?.diretor}}</p>
      <p>Ano: {{movies?.ano}}</p>
      <p>Gênero: {{movies?.genero}}</p>
      <p>{{movies?.descricao}}</p>
    </div>
  </div>
</section>
